$body-bg: #30404d;
$text-color: #f5f8fa;

$brand-color: #202b33;
$secondary-brand-color: #394b59;
$middle-gradient-color: mix($brand-color, $secondary-brand-color, 95%);

// Breakpoints
$xs: "(max-width: 575px)";
$sm: "(min-width: 576px)";
$md: "(min-width: 768px)";
$lg: "(min-width: 992px)";
$xl: "(min-width: 1200px)";
